body {
    margin: 0 auto;
}

.menu {
    background-color: #5271FF;
    width: 200px;
    height: 100vh;
    float: left;
}

.content {
    float: left;
    width: calc(100% - 200px);
}

.topnav {
    background-color: #343434;
    height: 50px;
    width: 100%;
}

.container {
    background-color: lightgray;
    padding: 50px;
    height: calc(100% - 50px);
    box-sizing: border-box;
}

.card {
    background-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 5px;
}