{% extends "base.html.twig" %}

{% block body %}
    <a href="#" class="button button-primary">Primary</a>
    <br/>
    <a href="#" class="button button-secondary">Secondary</a>
    <br/>
    <a href="#" class="button button-danger">Danger</a>
    <br/>
    <div class="custom-input">
        <input id="test-input" type="text"/>
        <label for="test-input">Test Input</label>
    </div>
    <table>
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Nazwa użytkownika</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
                <tr>
                    <td>{{ person.fName }}</td>
                    <td>{{ person.lName }}</td>
                    <td>{{ person.login }}</td>
                    <td>{{ person.readableState }}</td>
                    <td>
                        <a href="#" class="button button-primary">
                            <i class="fas fa-edit"></i>
                            Edytuj
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}